.Admin .header {
  overflow: auto;
  margin-bottom: -5px;
}

.Admin .header h3 {
  margin-top: 30px;
}

.Admin .header .btn {
  margin-top: 30px;
}

.Admin .list-group-item a:hover {
  text-decoration: underline;
}

.Admin .list-group-item {
  border: none;
}

.Admin .list-group-item-light {
  color: #333;
  background-color: #f8f9fa;
}