body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #222;
  transition: 0.5s all;
}

a:hover {
  color: #000;
  text-decoration: none;
}

p {
  color: #000;
  line-height: 1.5;
  font-size: 18px;
  margin-bottom: 1.5rem;
}

p a {
  text-decoration: underline;
  background: #eee;
}

p a:hover {
  text-decoration: underline;
  background: #ddd;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 1.5rem;
}

pre {
  background: #343a40;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  white-space: initial;
  max-width: 100%;
  margin-bottom: 1.5rem;
  line-height: 1.75;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}

input[type=file] {
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
